*{
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;    
}

.container {
    width: 80%;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0 35px 55px;
}

@media (min-width: 600px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
    .grid > * {
      padding: 10px 10px;
    }
}

h3 {
    padding: 10px;
    margin-bottom: 10px;
}

ul {
    margin: 0;
    padding: 10px;
    list-style: none;    
}

.left {
    background: #626362;
    color: #fff;    
}

.right{
    background: #80d0f0;
}

.right h3{
    padding: 20px;
}

.form{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    grid-gap: 10px;
}

.form .box{
    position: relative;
    width: 100%;
    padding: 20px;
}

.form .box input{
    width: 100%;
    font-size: 20px;
}

.form .box label{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    padding-left: 20px;
}

.form .box textarea{
    width: 100%;
    font-size: 20px;
}

.form input[type="submit"]{
    width: 100%;
    padding: 20px; 
    border: 0;   
}